* {
    margin: 0;
    box-sizing: border-box;
}

form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

input {
    display: block;
    margin-bottom: 12px;
}
